div {
  display: grid;
  grid-template-rows: 2fr;

}

h1 {
  color: black;
  margin-top: 20px;
  font-size: 4vw;
  justify-self: center;
}

a {
  color: black;
  margin-top: 45px;
  font-size: 2.5vw;
  font-style: italic;
  justify-self: center;
}
