<body class="feedback_item">
    <a id="feedback" href="#popup" aria-hidden="true" class="feedback_bubble">
        <p class="feedback_text">Все было супер! Сайт гавно, но преподы кайфовые</p>
        <p class="feedback_author">Вася Пупкин</p>
    </a>
    <div id="popup" class="popup">
        <a href="#header" class="popup_area"></a>
        <div class="popup_body">
            <div class="popup_content">
                <a href="#header" class="popup_close">X</a>
                <div class="popup_title">Все было супер! Сайт гавно, но преподы кайфовые</div>
                <div class="popup_full-text">hbdsjffffffffffffffffffffffffffffffffffffffffff fffffffffffffffffffffffffffffffffffffffffffff ffffffffffffffffffffffffffffffffffffffffffffffff fffffffffffffffffffffffffffff</div>
                <div class="popup_author">Вася Пупкин</div> 
            </div>
        </div>
    </div>
</body>
