<body class="app_menu">

    
    <div class="dropdown">
        <img src="/assets/menu_burger.png" alt="" class="nut_dropdown">
        <div class="noidung_dropdown">
          <a class="menu-dropdown-item" href="#">О нас</a>
          <a class="menu-dropdown-item" href="#">Наши преподаватели</a>
          <a class="menu-dropdown-item" href="#">Отзывы</a>
          <a class="menu-dropdown-item" href="#">Контакты</a>
        </div>
    </div>

    
    <img src="/assets/user.png" alt="" class="menu-icon">
    <a href="#" class="menu-item">О нас</a>
    <a href="#" class="menu-item">Наши преподаватели</a>
    <a href="#" class="menu-item">Отзывы</a>
    <a href="#" class="menu-item">Контакты</a>
    <img src="/assets/user.png" alt="" class="profile-icon">
</body>
