<body class="layout">
  <body class="app_menu">
      <div class="dropdown">
          <img src="/assets/menu_burger.png" alt="" class="nut_dropdown">
          <div class="noidung_dropdown">
            <a class="menu-dropdown-item" href="#about_us">
              О нас</a>
            <a class="menu-dropdown-item" href="#tutors">
              Наши преподаватели</a>
            <a class="menu-dropdown-item" href="#feedbacks">
              Отзывы</a>
            <a class="menu-dropdown-item" href="#footage">
              Контакты</a>
          </div>
      </div>


      <img src="/assets/user.png" alt="" class="menu-icon"
        routerLink="/" routerLinkActive="router-link-active" ariaCurrentWhenActive="page">

      <a class="menu-item" href="#about_us">
        О нас</a>

      <a class="menu-item" href="#tutors">
        Наши преподаватели</a>

      <a class="menu-item" href="#feedbacks">
        Отзывы</a>

      <a class="menu-item" href="#footage">
        Контакты</a>

      <img src="/assets/user.png" alt="" class="profile-icon"
        routerLink="/profile" routerLinkActive="router-link-active" ariaCurrentWhenActive="page">


  </body>

  <router-outlet></router-outlet>

</body>


